html, body{
    width: 100%;
    heigth: 100%;
    margin:0;
    overflow: hidden;
    border:0;
}

/* make the canvas the size of the viewport */
canvas {
    width: 100vw;
    height: 100vh;
    display: block;
}

#info {
    position:absolute;
    width:25%;
    height:auto;
    margin-left:5%;
    font-family: 'Bahnschrift';
}

h2 {
    text-align: justify;
}